DIRECTORY=/home/$(whoami)/.minecraft_server  # Directory where server files are located
BACKUP_DIR=/home/$(whoami)/.minecraftbackups/  # Directory to backup to
VERSION=1.8.5  # Minecraft version number
MEM=2046M  # Amount of memory for server to use
SCREENNAME=minecraft  # Name of screen session to be created